$cell-height: 240px;
$dish-height: $cell-height * 1.5;
$hSpacing: 10px;
$dish-color: #ced130;

html {
  overflow: hidden;
}

body {
  text-align: center;
  color: white;
  font-size: 24px;
  background-color: #bbb;
}
.wrapper{
  overflow: auto;
  height: 100%;
  float: left;
}
.board{
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  margin: auto;
  overflow: auto;
  width: 80%;
  max-width: 1200px;
  background: #1d6a82;
  padding: 30px 50px;
  border-radius: $cell-height * 4;
  border: solid 4px #105870;
}
.both-rows{
  width: 72%;
  float: left;
  //background: yellow;
  border-radius: 20px;
}
.row {
  float: left;
  width: 100%;
  display: table-row;
}

.dish{
  width: 10%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  float: left;
  background: $dish-color;
  height: $dish-height;
  line-height: $dish-height;
  border-radius: 80%;
  box-sizing: border-box;
  border: solid 2px #105870;
}
.box{
  float: left;
  width: 14.66666666%;
  margin: 1%;
  height: $cell-height;
  line-height: $cell-height;
  background: $dish-color;
  box-sizing: border-box;
  border: solid 2px #105870;
  border-radius: 60px;
}

.box:hover{
  background-color: lighten($dish-color, 10%);
}

@keyframes arrow-pulse {
  from {transform: scale(1, 1);}
  to {transform: scale(1.2, 1.2);}
}

.hidden {
  visibility: hidden;
}

.player-indicator {
  //animation-name: arrow-pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow: auto;
  padding:  8px;
}

.arrow {
  margin: 0 15px;
  position: relative;
  top: 8px;
}

.player-name{
  font-size: 28px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 10px #000;
}

.player-1 {
  margin-bottom: 20px;
}

.player-2 {
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  line-height: 100%;
  text-align: center;
  background: #0006;
  z-index: 2;
}

#ball-99 {
  position: absolute;
  z-index: 99;
}

@import '_glass-ball';
